$flexy-block-dropdown-divider-height: 0.5rem;
$flexy-block-dropdown-width: 180px;
$arrow-width: 4px;

.b-dropdown {
  position: relative;

  &__toggle {
    cursor: pointer;
  }

  &__menu {
    display: none;
    transition: all 0.15s ease;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    animation: fadeInUpDropdownMenu .3s ease-in-out 1 normal;

    &.is-active {
      display: block;
    }
  }

  &__divider {
    height: 1px;
    background: {
      color: #d4d4d5;
    }
    display: block;
    margin: calc(#{$flexy-block-dropdown-divider-height} + 1px) 0
      $flexy-block-dropdown-divider-height 0;
  }

  &__item {
    @include ellipsis;
    padding: 0.2rem 1rem;
    display: block;
    text-decoration: none;
    color: flexy-color(text);
    font-size: 0.95rem;

    &:hover {
      background: {
        color: flexy-color();
      }
      color: #fff;
    }
  }
}

@keyframes fadeInUpDropdownMenu {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
